flows.json
[{"id":"1789acbc.c6c723","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"51da8448.af745c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cb18c973.10a688","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2f037926.979526","type":"websocket-listener","z":"","path":"/public/p/","wholemsg":"false"},{"id":"44c9e618.b76848","type":"websocket-listener","path":"/ws/input","wholemsg":"false"},{"id":"eb4c9f04.3b983","type":"json","z":"1789acbc.c6c723","name":"","property":"payload.body","action":"","pretty":false,"x":110,"y":580,"wires":[["dc4324b5.520088"]]},{"id":"8e273098.4ff65","type":"http request","z":"1789acbc.c6c723","name":"Announce Blockchaining Start","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.body.message.chat.id}}&text=Okay. Panda is putting this on the blockchain....","tls":"","proxy":"","authType":"basic","x":610,"y":300,"wires":[[]]},{"id":"a3ead125.f352c","type":"http request","z":"1789acbc.c6c723","name":"Get Tokens","method":"GET","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/init?secret_key=SECRET&client_id=SECRETUSER","tls":"","proxy":"","authType":"basic","x":630,"y":460,"wires":[["78ec6bd6.1d5a24"]]},{"id":"2f47aa05.50fdd6","type":"http request","z":"1789acbc.c6c723","name":"Post Hash Method","method":"POST","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/hash?sess_id={{payload.1.session_id}}&hash={{payload.0.message.reply_to_message.from.username}}{{payload.0.message.reply_to_message.text}}{{payload.0.message.reply_to_message.date}}&blockchain=FCT","tls":"","proxy":"","authType":"basic","x":1160,"y":440,"wires":[["47f052c3.a7010c"]]},{"id":"78ec6bd6.1d5a24","type":"join","z":"1789acbc.c6c723","name":"Array, Telegram 0 and Blockchain creds 1.","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":820,"y":400,"wires":[["2f47aa05.50fdd6","47f052c3.a7010c"]]},{"id":"dc4324b5.520088","type":"switch","z":"1789acbc.c6c723","name":"","property":"payload.message.text","propertyType":"msg","rules":[{"t":"eq","v":"#plainblockchainthis","vt":"str"},{"t":"cont","v":"#trustpanda","vt":"str"},{"t":"eq","v":"#blockchainthis","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":640,"wires":[["8e273098.4ff65","a3ead125.f352c","78ec6bd6.1d5a24"],["5ece2de8.c8e7d4","c00c0aed.4e25f8","5fc55d8.9f575a4"],["89e1eeb7.c4003","e9c93657.86ca88","a0eabcce.061f3","54451857.731468"]]},{"id":"db52e2f4.db853","type":"switch","z":"1789acbc.c6c723","name":"Hash Success","property":"payload.1.type","propertyType":"msg","rules":[{"t":"cont","v":"APISuccess","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1590,"y":380,"wires":[["f481fb4a.d83028"]]},{"id":"7229f4e0.6794ec","type":"switch","z":"1789acbc.c6c723","name":"HashExists","property":"payload.1.type","propertyType":"msg","rules":[{"t":"cont","v":"APINotice","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1580,"y":420,"wires":[["b50ad882.55eb38"]]},{"id":"f43c47a6.c65df8","type":"switch","z":"1789acbc.c6c723","name":"Error","property":"payload.1.type","propertyType":"msg","rules":[{"t":"eq","v":"APIError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1560,"y":460,"wires":[["57a2322c.fabfdc"]]},{"id":"f481fb4a.d83028","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/botxxxxx14:ReplaceWithYourBotTokenHere/sendMessage?chat_id={{payload.0.0.message.chat.id}}&text=Your text has been blockchained. Review here: https://explorer.factoid.org/entry?hash={{payload.1.txid}}%0ACopy the next line to prove the existence of this message in the future, even if the original sender deletes, edits, or kicks you out of the group the message was sent. Posting the line in any group I'm in will confirm the existence of the message on the Factom blockchain. %0A{{payload.0.0.message.reply_to_message.from.username}}{{payload.0.0.message.reply_to_message.text}}{{payload.0.0.message.reply_to_message.date}}%23trustpanda","tls":"","proxy":"","authType":"basic","x":1820,"y":460,"wires":[[]]},{"id":"b50ad882.55eb38","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.telegram.org/botxxxxxx14:ReplaceWithYourOwnBotTokenHere/sendMessage?chat_id={{payload.0.0.message.chat.id}}&text=This already exists in the blockchain!%0ACopy the next line to prove the existence of this message in the future, even if the original sender deletes, edits, or kicks you out of the group the message was sent. Posting the line in any group I'm in will confirm the existence of the message on the Factom blockchain. %0A{{payload.0.0.message.reply_to_message.from.username}}{{payload.0.0.message.reply_to_message.text}}{{payload.0.0.message.reply_to_message.date}}%23trustpanda","tls":"","proxy":"","authType":"basic","x":1820,"y":500,"wires":[[]]},{"id":"57a2322c.fabfdc","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/botxxxxx14:ReplaceWithYourBotTokenHere/sendMessage?chat_id={{payload.0.0.message.chat.id}}&text=Panda has run out of money. Send me some FCT or ETH at ________.","tls":"","proxy":"","authType":"basic","x":1820,"y":540,"wires":[[]]},{"id":"37f6c71e.09d858","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/botxxxxx14:ReplaceWithYourBotTokenHere/sendMessage?chat_id={{payload.0}}&text=I can confirm the existence of the message on the blockchain. The message is therefore valid.%0AReview blockchain records here: https://explorer.factoid.org/entry?hash={{payload.2.txid}}","tls":"","proxy":"","authType":"basic","x":1919,"y":740,"wires":[[]]},{"id":"47f052c3.a7010c","type":"join","z":"1789acbc.c6c723","name":"Merges the blockchain response as another array datum.","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1230,"y":320,"wires":[["db52e2f4.db853","7229f4e0.6794ec","f43c47a6.c65df8"]]},{"id":"5132cd32.ecc6e4","type":"change","z":"1789acbc.c6c723","name":"Strips Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"#trustpanda ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"#blockchainthis ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"#trustpanda","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"#blockchainthis","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":780,"wires":[["2f65fda2.825b52","c718faf0.d9b408"]]},{"id":"2f65fda2.825b52","type":"http request","z":"1789acbc.c6c723","name":"Get Tokens","method":"GET","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/init?secret_key=SECRET&client_id=SECRETUSER","tls":"","proxy":"","authType":"basic","x":670,"y":720,"wires":[["c718faf0.d9b408"]]},{"id":"c718faf0.d9b408","type":"join","z":"1789acbc.c6c723","name":"Merges Telegram and Blockchain objects as Array 0.","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":980,"y":720,"wires":[["9075de6a.5a75f","100406ad.efc1c9"]]},{"id":"9075de6a.5a75f","type":"http request","z":"1789acbc.c6c723","name":"Get Hash Method","method":"GET","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/hash?sess_id={{payload.1.session_id}}&hash={{payload.0}}&blockchain=FCT","tls":"","proxy":"","authType":"basic","x":1210,"y":780,"wires":[["100406ad.efc1c9"]]},{"id":"100406ad.efc1c9","type":"join","z":"1789acbc.c6c723","name":"Merges the blockchain response as another array datum.","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":680,"wires":[["a32c0664.67ad78","812d24bf.ec5998","e06350a3.5ea46","25863427.d1522c"]]},{"id":"812d24bf.ec5998","type":"switch","z":"1789acbc.c6c723","name":"Hash Success","property":"payload.2.type","propertyType":"msg","rules":[{"t":"cont","v":"APISuccess","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1690,"y":720,"wires":[["37f6c71e.09d858"]]},{"id":"a32c0664.67ad78","type":"switch","z":"1789acbc.c6c723","name":"Error","property":"payload.2.type","propertyType":"msg","rules":[{"t":"cont","v":"APIError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1670,"y":780,"wires":[["614b0fe7.f4e5c"]]},{"id":"bf14245f.e2dd38","type":"comment","z":"1789acbc.c6c723","name":"This catches a blockchain check request (#trustpanda hashtag)","info":"","x":649,"y":620,"wires":[]},{"id":"e0a1992e.946b78","type":"comment","z":"1789acbc.c6c723","name":"#blockchainthis command - hashes the username, message, and datetime and places the hash on the blockchain","info":"","x":700,"y":940,"wires":[]},{"id":"5ece2de8.c8e7d4","type":"http request","z":"1789acbc.c6c723","name":"Announce Checking Start","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/botxxxxx14:ReplaceWithYourBotTokenHere/sendMessage?chat_id={{payload.message.chat.id}}&text=Okay. Panda is trying to find this on the blockchain....","tls":"","proxy":"","authType":"basic","x":730,"y":580,"wires":[[]]},{"id":"e06350a3.5ea46","type":"switch","z":"1789acbc.c6c723","name":"Pending 2 confirmations","property":"payload.2.message","propertyType":"msg","rules":[{"t":"cont","v":"still pending","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1660,"y":840,"wires":[["795a41dd.f1f02"]]},{"id":"795a41dd.f1f02","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=This has been transmitted to the blockchain but is still waiting to have two confirmations.","tls":"","proxy":"","authType":"basic","x":1770,"y":880,"wires":[[]]},{"id":"5f29b6b4.114448","type":"http in","z":"1789acbc.c6c723","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":80,"y":520,"wires":[["eb4c9f04.3b983","84c83757.782bf8"]]},{"id":"97595dcc.97c63","type":"hash","z":"1789acbc.c6c723","name":"","outputvar":"payload","algorithm":"sha512","x":490,"y":1140,"wires":[["d0cf0dbe.34bd4","7ed1d2d4.56a64c"]]},{"id":"89e1eeb7.c4003","type":"string","z":"1789acbc.c6c723","name":"Username Extract","methods":[],"prop":"payload.message.reply_to_message.from.username","propout":"payload","object":"msg","objectout":"msg","x":210,"y":1040,"wires":[["edb54662.c55748"]]},{"id":"edb54662.c55748","type":"join","z":"1789acbc.c6c723","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"_","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":1080,"wires":[["97595dcc.97c63","51e47536.a8dd1c"]]},{"id":"e9c93657.86ca88","type":"delay","z":"1789acbc.c6c723","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":1080,"wires":[["3622270.c8f3bda"]]},{"id":"a0eabcce.061f3","type":"delay","z":"1789acbc.c6c723","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":1160,"wires":[["5827de15.f46b7"]]},{"id":"3622270.c8f3bda","type":"string","z":"1789acbc.c6c723","name":"Text Extract","methods":[],"prop":"payload.message.reply_to_message.text","propout":"payload","object":"msg","objectout":"msg","x":270,"y":1120,"wires":[["edb54662.c55748"]]},{"id":"5827de15.f46b7","type":"string","z":"1789acbc.c6c723","name":"Time Date Extract","methods":[],"prop":"payload.message.reply_to_message.date","propout":"payload","object":"msg","objectout":"msg","x":290,"y":1200,"wires":[["edb54662.c55748"]]},{"id":"d0cf0dbe.34bd4","type":"http request","z":"1789acbc.c6c723","name":"Get Tokens","method":"GET","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/init?secret_key=I3Q5orJ2m7sDMtnv&client_id=sv2-aku0jm","tls":"","proxy":"","authType":"basic","x":677.7619018554688,"y":1119.761962890625,"wires":[["7ed1d2d4.56a64c"]]},{"id":"7ed1d2d4.56a64c","type":"join","z":"1789acbc.c6c723","name":"Array, Hash 0 and Blockchain 1","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":650,"y":1200,"wires":[["2649de3e.347062","8427fce9.8586"]]},{"id":"2649de3e.347062","type":"http request","z":"1789acbc.c6c723","name":"Post Hash Method","method":"POST","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/hash?sess_id={{payload.1.session_id}}&hash={{payload.0}}&blockchain=FCT","tls":"","proxy":"","authType":"basic","x":1130,"y":1180,"wires":[["8427fce9.8586"]]},{"id":"8427fce9.8586","type":"join","z":"1789acbc.c6c723","name":"Merges the blockchain response as another array datum.","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":1300,"wires":[["add9c586.171778","a60acf4b.047a2","7778d6ed.7a1028"]]},{"id":"add9c586.171778","type":"switch","z":"1789acbc.c6c723","name":"Hash Success","property":"payload.2.type","propertyType":"msg","rules":[{"t":"cont","v":"APISuccess","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":1020,"wires":[["15fbad89.fdbd62"]]},{"id":"a60acf4b.047a2","type":"switch","z":"1789acbc.c6c723","name":"HashExists","property":"payload.2.type","propertyType":"msg","rules":[{"t":"cont","v":"APINotice","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":1080,"wires":[["8a3a6fd1.e8117"]]},{"id":"7778d6ed.7a1028","type":"switch","z":"1789acbc.c6c723","name":"Error","property":"payload.2.type","propertyType":"msg","rules":[{"t":"eq","v":"APIError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":1120,"wires":[["57041f92.341ff"]]},{"id":"15fbad89.fdbd62","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=Your text has been blockchained. Review here: https://explorer.factoid.org/entry?hash={{payload.1.1.txid}}%0ACopy the next line to prove the existence of this message in the future, even if the original sender deletes, edits, or kicks you out of the group the message was sent. Posting the line in any group I'm in will confirm the existence of the message on the Factom blockchain. %0A%23trustpanda{{payload.1.0}}","tls":"","proxy":"","authType":"basic","x":1870,"y":1020,"wires":[["51e47536.a8dd1c"]]},{"id":"8a3a6fd1.e8117","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=This already exists in the blockchain!%0ACopy the next line to prove the existence of this message in the future, even if the original sender deletes, edits, or kicks you out of the group the message was sent. Posting the line in any group I'm in will confirm the existence of the message on the Factom blockchain. %0A%23trustpanda{{payload.1.0}}","tls":"","proxy":"","authType":"basic","x":1870,"y":1060,"wires":[["51e47536.a8dd1c"]]},{"id":"57041f92.341ff","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0.0.message.chat.id}}&text=Panda has run out of money. Send me some FCT or ETH at ________.","tls":"","proxy":"","authType":"basic","x":1870,"y":1100,"wires":[[]]},{"id":"54451857.731468","type":"string","z":"1789acbc.c6c723","name":"Chat ID Extract","methods":[],"prop":"payload.message.chat.id","propout":"payload","object":"msg","objectout":"msg","x":200,"y":1240,"wires":[["8427fce9.8586","51e47536.a8dd1c"]]},{"id":"3871505b.11369","type":"comment","z":"1789acbc.c6c723","name":"#plainblockchainthis command - plaintext embed of the username, message, and datetime on the blockchain","info":"","x":690,"y":240,"wires":[]},{"id":"9743b067.c3ca5","type":"hash","z":"1789acbc.c6c723","name":"","outputvar":"payload","algorithm":"sha512","x":1170,"y":920,"wires":[["5132cd32.ecc6e4"]]},{"id":"8af49c74.cf02b","type":"string","z":"1789acbc.c6c723","name":"Text Extract","methods":[],"prop":"payload.1.0","propout":"payload","object":"msg","objectout":"msg","x":1370,"y":1000,"wires":[["9743b067.c3ca5"]]},{"id":"c00c0aed.4e25f8","type":"string","z":"1789acbc.c6c723","name":"Text Extract","methods":[],"prop":"payload.message.text","propout":"payload","object":"msg","objectout":"msg","x":450,"y":720,"wires":[["5132cd32.ecc6e4"]]},{"id":"5fc55d8.9f575a4","type":"string","z":"1789acbc.c6c723","name":"Chat ID Extract","methods":[],"prop":"payload.message.chat.id","propout":"payload","object":"msg","objectout":"msg","x":460,"y":680,"wires":[["100406ad.efc1c9"]]},{"id":"1716d9d1.673466","type":"string","z":"1789acbc.c6c723","name":"Chat ID Extract","methods":[],"prop":"payload.0","propout":"payload","object":"msg","objectout":"msg","x":1100,"y":540,"wires":[["100406ad.efc1c9"]]},{"id":"614b0fe7.f4e5c","type":"counter-loop","z":"1789acbc.c6c723","name":"Loop Once","counter":"il614b0fe7f4e5c","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"1","terminationType":"num","increment":1,"incrementType":"num","x":2030,"y":880,"wires":[["9e5a6812.043d88"],["8af49c74.cf02b","509fc123.ae4fc"]]},{"id":"9e5a6812.043d88","type":"http request","z":"1789acbc.c6c723","name":"Telegram: Nope, can't find it","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=The Panda cannot find this message, nor its hash, on the Blockchain.","tls":"","proxy":"","authType":"basic","x":2340,"y":900,"wires":[[]]},{"id":"509fc123.ae4fc","type":"http request","z":"1789acbc.c6c723","name":"Telegram: Can't find the plaintext, let me hash this text","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=The Panda cannot find the plaintext message on the blockchain. Let me go ahead and try to find the SHA512 hash.","tls":"","proxy":"","authType":"basic","x":2420,"y":960,"wires":[[]]},{"id":"25863427.d1522c","type":"counter-loop","z":"1789acbc.c6c723","name":"Loop Once","counter":"il25863427d1522c","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"1","terminationType":"num","increment":1,"incrementType":"num","x":1130,"y":620,"wires":[[],["1716d9d1.673466"]]},{"id":"51e47536.a8dd1c","type":"join","z":"1789acbc.c6c723","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2170,"y":1200,"wires":[["577bbee5.1d867"]]},{"id":"577bbee5.1d867","type":"http request","z":"1789acbc.c6c723","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=%23trustpanda{{payload.1}}","tls":"","proxy":"","authType":"basic","x":2350,"y":1200,"wires":[[]]},{"id":"f599d4fe.08b0b8","type":"http response","z":"1789acbc.c6c723","name":"","statusCode":"201","headers":{},"x":860,"y":460,"wires":[]},{"id":"1d410f3d.5254d1","type":"http in","z":"1789acbc.c6c723","name":"","url":"/app","method":"post","upload":false,"swaggerDoc":"","x":240,"y":1360,"wires":[["b94d4970.dc6938","31005727.e6a7d8"]]},{"id":"84c83757.782bf8","type":"http response","z":"1789acbc.c6c723","name":"","statusCode":"201","headers":{},"x":120,"y":440,"wires":[]},{"id":"b94d4970.dc6938","type":"http request","z":"1789acbc.c6c723","name":"Get Tokens","method":"GET","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/init?secret_key=I3Q5orJ2m7sDMtnv&client_id=sv2-aku0jm","tls":"","proxy":"","authType":"basic","x":510,"y":1420,"wires":[["5d29fc4.dc2c204"]]},{"id":"d9ba0205.61c33","type":"http request","z":"1789acbc.c6c723","name":"Get Hash Method","method":"GET","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/hash?sess_id={{payload.1.session_id}}&hash={{payload.0}}&blockchain=FCT","tls":"","proxy":"","authType":"basic","x":770,"y":1400,"wires":[["2af1c43a.56b36c","2fe4e5e.336921a"]]},{"id":"3d9810bb.a13ef","type":"http response","z":"1789acbc.c6c723","name":"","statusCode":"201","headers":{},"x":1220,"y":1400,"wires":[]},{"id":"5d29fc4.dc2c204","type":"join","z":"1789acbc.c6c723","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":1380,"wires":[["d9ba0205.61c33"]]},{"id":"ec5f9c5b.2692e","type":"string","z":"1789acbc.c6c723","name":"","methods":[{"name":"replaceAll","params":[{"type":"str","value":"#trustpanda"},{"type":"str","value":""}]},{"name":"replaceAll","params":[{"type":"str","value":"\""},{"type":"str","value":""}]},{"name":"replaceAll","params":[{"type":"str","value":"{"},{"type":"str","value":""}]},{"name":"replaceAll","params":[{"type":"str","value":"}"},{"type":"str","value":""}]},{"name":"replaceAll","params":[{"type":"str","value":":"},{"type":"str","value":""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":490,"y":1320,"wires":[["5d29fc4.dc2c204","e96de859.34ab38","dfbbd15b.7cd2b"]]},{"id":"31005727.e6a7d8","type":"json","z":"1789acbc.c6c723","name":"","property":"payload","action":"str","pretty":false,"x":380,"y":1340,"wires":[["ec5f9c5b.2692e"]]},{"id":"2af1c43a.56b36c","type":"string","z":"1789acbc.c6c723","name":"","methods":[{"name":"prepend","params":[{"type":"str","value":"https://explorer.factoid.org/entry?hash="}]},{"name":"prepend","params":[{"type":"str","value":"Transaction URI: "}]}],"prop":"payload.txid","propout":"payload","object":"msg","objectout":"msg","x":980,"y":1460,"wires":[["e96de859.34ab38"]]},{"id":"e96de859.34ab38","type":"join","z":"1789acbc.c6c723","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"<br><br>","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":1400,"wires":[["3d9810bb.a13ef","9643e7e8.c187d8"]]},{"id":"9643e7e8.c187d8","type":"debug","z":"1789acbc.c6c723","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":1860,"wires":[]},{"id":"bedc017e.a8b08","type":"httpInMultipart","z":"1789acbc.c6c723","name":"","url":"/photo","method":"post","fields":"[{ \"name\": \"myFile\" }]","swaggerDoc":"","x":250,"y":1460,"wires":[["9643e7e8.c187d8","c0611c0f.32693"]]},{"id":"57d174ef.4810bc","type":"http response","z":"1789acbc.c6c723","name":"","statusCode":"201","headers":{},"x":760,"y":1600,"wires":[]},{"id":"c0611c0f.32693","type":"hash","z":"1789acbc.c6c723","name":"","outputvar":"payload","algorithm":"sha512","x":490,"y":1520,"wires":[["9643e7e8.c187d8","9619e989.010bc8"]]},{"id":"9619e989.010bc8","type":"string","z":"1789acbc.c6c723","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":610,"y":1580,"wires":[["57d174ef.4810bc","9643e7e8.c187d8"]]},{"id":"dfbbd15b.7cd2b","type":"hash","z":"1789acbc.c6c723","name":"","outputvar":"payload","algorithm":"sha512","x":630,"y":1300,"wires":[["5157cc72.a8ee14"]]},{"id":"2fe4e5e.336921a","type":"string","z":"1789acbc.c6c723","name":"","methods":[{"name":"prepend","params":[{"type":"str","value":"Server Message: "}]}],"prop":"payload.message","propout":"payload","object":"msg","objectout":"msg","x":970,"y":1520,"wires":[["e96de859.34ab38"]]},{"id":"5157cc72.a8ee14","type":"string","z":"1789acbc.c6c723","name":"","methods":[{"name":"prepend","params":[{"type":"str","value":"Hash:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":810,"y":1320,"wires":[["e96de859.34ab38"]]},{"id":"8a2864a5.77ce58","type":"debug","z":"51da8448.af745c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":240,"wires":[]},{"id":"498907e.5d957f8","type":"http in","z":"51da8448.af745c","name":"","url":"/kendi","method":"post","upload":false,"swaggerDoc":"","x":200,"y":240,"wires":[["8a2864a5.77ce58","1ccbd7a5.423718","32fc82d4.795f9e"]]},{"id":"32fc82d4.795f9e","type":"http response","z":"51da8448.af745c","name":"","statusCode":"201","headers":{},"x":520,"y":300,"wires":[]},{"id":"1f46a198.71176e","type":"http request","z":"51da8448.af745c","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Halo @{{payload.message.from.username}}.%0ASaya adalah KendiPOSBot, sebuah robot yang akan membantu Anda mempergunakan Kendi. Saya juga bisa mendapatkan informasi untuk Anda mengenai%0A-Penjualan%0A-Kesehatan Bisnis%0A-Level Aktivitas Pegawai%0A-Transaksi Terbaru%0A-Untung Rugi, dan%0A-Stok/Suplai Barang","tls":"","proxy":"","authType":"basic","x":350,"y":460,"wires":[[]]},{"id":"1ccbd7a5.423718","type":"switch","z":"51da8448.af745c","name":"","property":"payload.message.text","propertyType":"msg","rules":[{"t":"cont","v":"halo","vt":"str"},{"t":"cont","v":"jualan","vt":"str"},{"t":"cont","v":"sehat","vt":"str"},{"t":"cont","v":"pegawai","vt":"str"},{"t":"cont","v":"untung","vt":"str"},{"t":"cont","v":"stok","vt":"str"},{"t":"cont","v":"suplai","vt":"str"},{"t":"cont","v":"pesen","vt":"str"},{"t":"cont","v":"pesan","vt":"str"},{"t":"cont","v":"pinjaman","vt":"str"},{"t":"cont","v":"error","vt":"str"},{"t":"cont","v":"eror","vt":"str"},{"t":"cont","v":"apaan","vt":"str"},{"t":"cont","v":"gimana","vt":"str"},{"t":"cont","v":"gak ngerti","vt":"str"},{"t":"cont","v":"tolong","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":90,"y":560,"wires":[["1f46a198.71176e"],["321058f8.65ed58"],["743a9415.7fa6bc"],["138d3079.29723"],["b4de98b3.87c2b8"],["f211ee65.0bd3e"],["f211ee65.0bd3e"],["f00f961f.977908"],["f00f961f.977908"],["e4d56f85.70004"],["1bb66f6c.9f5571"],["1bb66f6c.9f5571"],["1f46a198.71176e"],["1f46a198.71176e"],["1f46a198.71176e"],["1f46a198.71176e"]]},{"id":"321058f8.65ed58","type":"http request","z":"51da8448.af745c","name":"Penjualan","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Oke @{{payload.message.from.username}},%0APenjualan anda secara keseluruhan lebih baik dari 80 persen penjual di kategori Anda. %0ABerikut 5 penjualan terakhir%0ACheetos 3pcs 5000x3%0AAqua Botol 2pcs 2000x2%0ATotal: Rp. 19,000","tls":"","proxy":"","authType":"basic","x":280,"y":540,"wires":[[]]},{"id":"743a9415.7fa6bc","type":"http request","z":"51da8448.af745c","name":"Kesehatan","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Halo @{{payload.message.from.username}},%0ASelamat! Bisnis Anda termasuk 25 bisnis paling sehat di kota Solo! %0AAnda bisa mendapatkan pendanaan Syariah dari Bank ABC! Klik di sini untuk info lebih lanjut: https://kendi.io","tls":"","proxy":"","authType":"basic","x":310,"y":580,"wires":[[]]},{"id":"138d3079.29723","type":"http request","z":"51da8448.af745c","name":"Pegawai","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Halo @{{payload.message.from.username}}.%0AAlhamdulillah pegawai Anda semua aktif sekali, dengan penggunaan aplikasi Kendi POS mencapai 75% per jam. Pegawai Anda yang paling rajin adalah @DannyJkt, dengan total penggunaan Kendi POS mencapai 6 jam per hari.","tls":"","proxy":"","authType":"basic","x":300,"y":620,"wires":[[]]},{"id":"b4de98b3.87c2b8","type":"http request","z":"51da8448.af745c","name":"Keuntungan","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Halo @{{payload.message.from.username}}. %0AKeuntungan Anda hari ini adalah:%0ARp. 56,500%0A%0AKeuntungan Anda bulan ini adalah:%0ARp. 1,556,050","tls":"","proxy":"","authType":"basic","x":310,"y":660,"wires":[[]]},{"id":"f211ee65.0bd3e","type":"http request","z":"51da8448.af745c","name":"Stock","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Halo @{{payload.message.from.username}}, %0AStock bahan Anda semuanya masih banyak, kecuali stock \"Cheetos Cheddar Cheese\" yang sudah menipis, tinggal 5 bungkus. Apa Anda mau pesan stok baru ke langganan Anda?","tls":"","proxy":"","authType":"basic","x":310,"y":700,"wires":[[]]},{"id":"f00f961f.977908","type":"http request","z":"51da8448.af745c","name":"Stock","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Baiklah @{{payload.message.from.username}}, %0ASaya akan menyampaikan pesanan ini ke stockist langganan Anda.","tls":"","proxy":"","authType":"basic","x":290,"y":740,"wires":[[]]},{"id":"e4d56f85.70004","type":"http request","z":"51da8448.af745c","name":"Pinjaman","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Betul sekali @{{payload.message.from.username}}, %0ASilahkan buka aplikasi Kendi Anda dan klik notifikasi untuk mengajukan pinjaman atau financing secara Syariah.","tls":"","proxy":"","authType":"basic","x":300,"y":800,"wires":[[]]},{"id":"1bb66f6c.9f5571","type":"http request","z":"51da8448.af745c","name":"Aplikasi Error","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id={{payload.message.chat.id}}&text=Maaf atas ketidaknyamanannya @{{payload.message.from.username}}, %0AKami berikan kontak customer service kami untuk bisa langsung membantu: %0A@customerservicekendi%0A+62892988377288","tls":"","proxy":"","authType":"basic","x":290,"y":860,"wires":[[]]},{"id":"cfceab61.309368","type":"inject","z":"51da8448.af745c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":960,"wires":[["81bfb3cd.d3b6b"]]},{"id":"81bfb3cd.d3b6b","type":"http request","z":"51da8448.af745c","name":"Pegawai Kurang Aktif","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id=-375167150&text=Maaf mengganggu, %0APegawai Anda yang bernama Bejo sudah 2 jam tidak mempergunakan aplikasi Kendi, padahal saat ini beliau sedang menjadi kasir di cabang Senayan.","tls":"","proxy":"","authType":"basic","x":320,"y":980,"wires":[[]]},{"id":"f3b6ac0a.45d78","type":"http request","z":"51da8448.af745c","name":"Cheetos","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot876509468:AAEEKYfG6lA5KCgc9ybnz4zcoYGeuSTbapw/sendMessage?chat_id=-375167150&text=Transaksi baru! %0ACheetos Keju 3pcs 5000x3%0ATotal: Rp 15,000","tls":"","proxy":"","authType":"basic","x":280,"y":1020,"wires":[[]]},{"id":"e0ea7d20.a7c29","type":"inject","z":"51da8448.af745c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1040,"wires":[["f3b6ac0a.45d78"]]},{"id":"6c2e0edb.6c39","type":"http in","z":"cb18c973.10a688","name":"","url":"/wa","method":"post","upload":false,"swaggerDoc":"","x":180,"y":920,"wires":[["f23acd50.e54d4","68158a01.509a54","9398135b.c6241"]]},{"id":"f23acd50.e54d4","type":"debug","z":"cb18c973.10a688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":940,"wires":[]},{"id":"68158a01.509a54","type":"http response","z":"cb18c973.10a688","name":"","statusCode":"201","headers":{},"x":400,"y":860,"wires":[]},{"id":"9398135b.c6241","type":"switch","z":"cb18c973.10a688","name":"","property":"payload.data.body","propertyType":"msg","rules":[{"t":"cont","v":"#blockchainthis","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":1000,"wires":[["76c0fb4e.4010a4","91799c4f.45cfb","12a55687.0a4ff9","7349b501.a0877c"]]},{"id":"fd52c1e2.984ab","type":"hash","z":"cb18c973.10a688","name":"","outputvar":"payload","algorithm":"sha512","x":415,"y":1296.6666259765625,"wires":[["e3bc38f2.21a798","76903061.76216"]]},{"id":"76c0fb4e.4010a4","type":"string","z":"cb18c973.10a688","name":"Username Extract","methods":[],"prop":"payload.data.quoted.from","propout":"payload","object":"msg","objectout":"msg","x":135,"y":1196.6666259765625,"wires":[["c0d29896.c0fd38"]]},{"id":"c0d29896.c0fd38","type":"join","z":"cb18c973.10a688","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"_","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":395,"y":1236.6666259765625,"wires":[["fd52c1e2.984ab","c6323ed6.ee523"]]},{"id":"91799c4f.45cfb","type":"delay","z":"cb18c973.10a688","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":115,"y":1236.6666259765625,"wires":[["3fe4b779.3093f8"]]},{"id":"12a55687.0a4ff9","type":"delay","z":"cb18c973.10a688","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":115,"y":1316.6666259765625,"wires":[["a55a7310.91ae1"]]},{"id":"3fe4b779.3093f8","type":"string","z":"cb18c973.10a688","name":"Text Extract","methods":[],"prop":"payload.data.quoted.body","propout":"payload","object":"msg","objectout":"msg","x":195,"y":1276.6666259765625,"wires":[["c0d29896.c0fd38"]]},{"id":"a55a7310.91ae1","type":"string","z":"cb18c973.10a688","name":"Time Date Extract","methods":[],"prop":"payload.data.quoted.timestamp","propout":"payload","object":"msg","objectout":"msg","x":215,"y":1356.6666259765625,"wires":[["c0d29896.c0fd38"]]},{"id":"e3bc38f2.21a798","type":"http request","z":"cb18c973.10a688","name":"Get Tokens","method":"GET","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/init?secret_key=I3Q5orJ2m7sDMtnv&client_id=sv2-aku0jm","tls":"","proxy":"","authType":"basic","x":602.7619018554688,"y":1276.4285888671875,"wires":[["76903061.76216"]]},{"id":"76903061.76216","type":"join","z":"cb18c973.10a688","name":"Array, Hash 0 and Blockchain 1","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":575,"y":1356.6666259765625,"wires":[["20a46b6b.efae74","c718ab5.7f83c58"]]},{"id":"20a46b6b.efae74","type":"http request","z":"cb18c973.10a688","name":"Post Hash Method","method":"POST","ret":"obj","paytoqs":false,"url":"https://stampd.io/api/v2/hash?sess_id={{payload.1.session_id}}&hash={{payload.0}}&blockchain=FCT","tls":"","proxy":"","authType":"basic","x":1055,"y":1336.6666259765625,"wires":[["c718ab5.7f83c58"]]},{"id":"c718ab5.7f83c58","type":"join","z":"cb18c973.10a688","name":"Merges the blockchain response as another array datum.","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1115,"y":1456.6666259765625,"wires":[["7cadf8a1.737028","bb285998.2cff88","270263c1.e83fcc"]]},{"id":"7cadf8a1.737028","type":"switch","z":"cb18c973.10a688","name":"Hash Success","property":"payload.2.type","propertyType":"msg","rules":[{"t":"cont","v":"APISuccess","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1545,"y":1176.6666259765625,"wires":[["b2df985e.38f888"]]},{"id":"bb285998.2cff88","type":"switch","z":"cb18c973.10a688","name":"HashExists","property":"payload.2.type","propertyType":"msg","rules":[{"t":"cont","v":"APINotice","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1575,"y":1236.6666259765625,"wires":[["e8d998fa.1f79a8"]]},{"id":"270263c1.e83fcc","type":"switch","z":"cb18c973.10a688","name":"Error","property":"payload.2.type","propertyType":"msg","rules":[{"t":"eq","v":"APIError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1555,"y":1276.6666259765625,"wires":[["1b19bc83.240873"]]},{"id":"b2df985e.38f888","type":"http request","z":"cb18c973.10a688","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=Your text has been blockchained. Review here: https://explorer.factoid.org/entry?hash={{payload.1.1.txid}}%0ACopy the next line to prove the existence of this message in the future, even if the original sender deletes, edits, or kicks you out of the group the message was sent. Posting the line in any group I'm in will confirm the existence of the message on the Factom blockchain. %0A%23trustpanda{{payload.1.0}}","tls":"","proxy":"","authType":"basic","x":1795,"y":1176.6666259765625,"wires":[["c6323ed6.ee523"]]},{"id":"e8d998fa.1f79a8","type":"http request","z":"cb18c973.10a688","name":"Telegram sendMessage","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=This already exists in the blockchain!%0ACopy the next line to prove the existence of this message in the future, even if the original sender deletes, edits, or kicks you out of the group the message was sent. Posting the line in any group I'm in will confirm the existence of the message on the Factom blockchain. %0A%23trustpanda{{payload.1.0}}","tls":"","proxy":"","authType":"basic","x":1795,"y":1216.6666259765625,"wires":[["c6323ed6.ee523"]]},{"id":"1b19bc83.240873","type":"http request","z":"cb18c973.10a688","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0.0.message.chat.id}}&text=Panda has run out of money. Send me some FCT or ETH at ________.","tls":"","proxy":"","authType":"basic","x":1795,"y":1256.6666259765625,"wires":[[]]},{"id":"7349b501.a0877c","type":"string","z":"cb18c973.10a688","name":"Chat ID Extract","methods":[],"prop":"payload.message.chat.id","propout":"payload","object":"msg","objectout":"msg","x":125,"y":1396.6666259765625,"wires":[["c718ab5.7f83c58","c6323ed6.ee523"]]},{"id":"c6323ed6.ee523","type":"join","z":"cb18c973.10a688","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2095,"y":1356.6666259765625,"wires":[["4376a39.455805c"]]},{"id":"4376a39.455805c","type":"http request","z":"cb18c973.10a688","name":"Telegram sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/bot490783714:AAEYo3N-YKwPa6zqpDCGxJTyVVFfaEq4pfA/sendMessage?chat_id={{payload.0}}&text=%23trustpanda{{payload.1}}","tls":"","proxy":"","authType":"basic","x":2275,"y":1356.6666259765625,"wires":[[]]},{"id":"64cbaac6.5ff424","type":"inject","z":"cb18c973.10a688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":880,"wires":[["e4bb73bc.ed067"]]},{"id":"e4bb73bc.ed067","type":"http request","z":"cb18c973.10a688","name":"Whatsapp sendMessage","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.wassenger.com/v1/messages?token=b05e012b42f1570656407add55a144043f5b8477d19750a61ef445d14e1a37acdca8cc7e6cedc244&message:'hey'&phone:'+6282122161623'","tls":"","proxy":"","authType":"basic","x":1153.3438720703125,"y":1043.3690185546875,"wires":[["19895f7c.9d7e01"]]},{"id":"19895f7c.9d7e01","type":"debug","z":"cb18c973.10a688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1300,"y":980,"wires":[]}]
